.container {
    width: 200px;
}

.column {
    display: flex;
    height: 100px;
    align-items: center;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.column img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #000;
}
